@{
    ViewData["Title"] = "View a Post";
}
@model Post
<h5 class="text-end"><a href="/logout"> Log Out </a></h5>
<div class="card shadow rounded mx-auto w-75 mb-3 row text-center">
    <h1 class="display-4">@Model.Title</h1>
    <nav class="nav align-items-center justify-content-around">
        <a href="/post/dashboard">Home</a>
        <a href="/post/addPost">Add Post</a>
        <div class="column">
            @if(@Model.UserId == @Context.Session.GetInt32("uid")) {
                <a href="/post/@Model.PostId/editPost">Edit</a>
                <a href="/post/@Model.PostId/Delete">Delete</a>
            }
        </div>
    </nav>
</div>
<div class="card shadow rounded mx-auto w-75 mb-3 row">
    <h1 class="card-title text-center bg-dark text-light py-2 rounded-top"><a href="/post/@Model.PostId/viewPost">@Model.Title</a></h1>
    <img src="@Model.Img" alt="@Model.Title">
    <p>
    Description of Hobby:
    @Model.Content
    </p><br>
    <p>
    Posted By: @Model.Creator.Name
    </p>

    <button class="btn text-light"><a href="/Post/@Model.PostId/editPost">Edit</a></button>
    <br>
    <button class="btn text-light"><a href="/Post/@Model.PostId/Delete">Delete</a></button>
    
    @{ bool existingSignup = @Model.Hobbyist.Any(userPost => userPost.UserId == @Context.Session.GetInt32("uid"));}
    
        <form asp-controller="Post" 
                asp-action="Signup" 
                asp-route-id="@Model.PostId">
        
        <button>
        @if (existingSignup)
        {
            <span>Remove Signup</span>
        }
        else
        {
            <span>Signup</span>
        }
    
        </button>
        </form>

</div>
